<!-- accounts/templates/accounts/account_detail.html -->
{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ account.name }} - AccountBook{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ account.name }}</h2>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">계좌 정보</h5>
                <table class="table">
                    <tr>
                        <th width="30%">은행</th>
                        <td>{{ account.bank_name }}</td>
                    </tr>
                    <tr>
                        <th>계좌번호</th>
                        <td>{{ account.masked_account_number }}</td>
                    </tr>
                    <tr>
                        <th>잔액</th>
                        <td>{{ account.balance|floatformat:0|intcomma }}원</td>
                    </tr>
                    <tr>
                        <th>생성일</th>
                        <td>{{ account.created_at|date:"Y-m-d H:i" }}</td>
                    </tr>
                    <tr>
                        <th>수정일</th>
                        <td>{{ account.updated_at|date:"Y-m-d H:i" }}</td>
                    </tr>
                </table>

                <div class="d-flex gap-2">
                    <a href="{% url 'accounts:account_update' account.pk %}" class="btn btn-primary">수정</a>
                    <a href="{% url 'accounts:account_list' %}" class="btn btn-secondary">목록</a>
                    <form method="post" action="{% url 'accounts:account_delete' account.pk %}" class="inline-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}